sulu_admin:
    widget_groups:
        contact-info:
            mappings:
                - sulu-contact-contact-info
        account-info:
            mappings:
                - sulu-contact-account-info
                - sulu-contact-main-contact
        contact-detail:
            mappings:
                - sulu-contact-main-account
        account-detail:
            mappings:
                - sulu-contact-main-contact
        order-info:
            mappings:
                - sulu-sales-core-simple-account
                - sulu-sales-core-simple-contact
        order-detail:
            mappings:
                - sulu-sales-core-simple-account
                - sulu-sales-core-simple-contact
                - sulu-sales-order-order-details
        shipping-info:
            mappings:
                - sulu-sales-core-simple-account
                - sulu-sales-core-simple-contact
        shipping-detail:
            mappings:
                - sulu-sales-core-simple-account
                - sulu-sales-core-simple-contact
                - sulu-sales-shipping-shipping-details
                - sulu-sales-shipping-shipping-flow-of-documents
